@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "DotGothic16", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    z-index: 999;
    backdrop-filter: blur(0.5rem);
}

.navbar-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 5px;
}

.navbar-logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo-name {
    color: #f1dbbf;
    font-size: 2rem;
    font-weight: bold;
    font-family: "DotGothic16", sans-serif;
    padding: 10px;
    text-decoration: underline;
}

#logo-img {
    border-radius: 100%;
    height: 10rem;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

.menu-item {
    list-style: none;
    margin: 0 10px;
}

.menu-item a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: "DotGothic16", sans-serif;
}

.bg {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#bg-image {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.big-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: floralwhite;
    font-size: 6rem;
    font-family: "DotGothic16", sans-serif;
}

.little-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 120%);
    font-size: 1.5rem;
    font-family: "DotGothic16", sans-serif;
    color: floralwhite;
}

#get-started-btn {
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 210%);
    font-size: 1.5rem;
    font-family: "DotGothic16", sans-serif;
    color: #443c68;
    border: 1px solid black;
    padding: 1rem;
    background-color: floralwhite;
    border-radius: 0.6rem;
    font-weight: bold;
}

#get-started-btn:hover {
    background-color: #443c68;
    color: floralwhite;
    transition: 0.3s;
}

.cards-section {
    background-color: #faecd6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-group {
    margin: auto;
    position: relative;
}

.card-group,
.card {
    aspect-ratio: 5/7;
}

/* Common Attributes to card class */
.card {
    aspect-ratio: 5/7;
    background-color: rgba(255, 255, 255, 0.05);
    position: absolute;
    transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.card-group,
.big-card {
    width: 30vmin;
    border-radius: 1vmin;
}

.big-card:nth-child(1) {
    transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(2) {
    transform: rotate(2deg);
}

/* Translate -> shifts the card and rotate('n'deg) rotates the card n degree can be plus or minus */

.big-card:nth-child(3) {
    transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(4) {
    background-color: rgba(0, 0, 255, 0.5);
    transform: translate(10%, 3%) rotate(5deg);
}

.card-group:hover > .big-card:nth-child(1) {
    transform: translate(-75%, 16%) rotate(-24deg);
    /* Shifting 75% to left and 16 percent to below and rotating to 24 degrees left */
}

.card-group:hover > .big-card:nth-child(2) {
    transform: translate(-25%, 8%) rotate(-8deg);
}

.card-group:hover > .big-card:nth-child(3) {
    transform: translate(25%, 8%) rotate(8deg);
}

.card-group:hover > .big-card:nth-child(4) {
    transform: translate(75%, 16%) rotate(24deg);
    /*Must do the opposite of the first card */
}

.little-card {
    width: 12vmin;
    border-radius: 2vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 
    Since at the little card class we have "transform: translate(-50%, -50%);" translated values are adjusted with respect to that
    and they're found between 100% to 300% varying from positive to negative , because of the order child number goes as odd numbers for little-card class
    and even for the big-card class (to access the child elements) 
*/
.card-group:hover > .little-card:nth-child(1) {
    transform: translate(200%, -160%) rotate(-15deg);
    /*
        background-color: red;
        Also it can be tested if 200% is increased to 500% little card will go to the right 
        And -160% is for going up
    */
}

.card-group:hover > .little-card:nth-child(3) {
    transform: translate(160%, 170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
    transform: translate(-200%, -170%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
    transform: translate(-280%, 140%) rotate(-15deg);
}

.intro {
    height: auto;
    justify-content: center;
    margin: auto;
    background-color: #8e697a;
    display: block;
    padding: 3rem 1rem;
}

.how-to {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: block;
}

.how-to-title {
    text-align: center;
    color: #faecd6;
    font-family: "DotGothic16", sans-serif;
    font-size: 2.7rem;
    padding-bottom: 3rem;
}
.how-to-middle {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-bottom: 3rem;
}
.how-to-gif {
    width: 90%;
    background-color: red;
    flex: 3;
}
.how-to-texts-container {
    flex: 5;
}
.how-to-texts {
    font-family: "DotGothic16", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: #faecd6;
}

.feature {
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    width: 18rem;
    height: 7rem;
    border-radius: 0.3rem;
}

.feature h1 {
    font-family: "DotGothic16", sans-serif;
    font-size: 1.5rem;
    color: #faecd6;
}

.feature {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.feature i {
    cursor: pointer;
    font-size: 2.5rem;
    color: #faecd6;
}
.feature:hover {
    background-color: #443c68;
    transition: 0.1s;
}

.big-image {
    border-radius: 0.4rem;
    border: 1px solid black;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    height: 100%;
    width: 100%;
}

.little-image {
    height: 100%;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

#modal {
    display: none;
}

.modal {
    position: fixed;
    justify-content: center;
    padding: 1rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.modal-container {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 1rem;
    width: calc(100% - 10rem);
    height: 100%;
    background-color: #443c68;
    display: flex;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    animation: open-animation 400ms ease-out;
}

@keyframes close-animation {
    from {
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0;
        scale: 0.99;
    }
}

@keyframes open-animation {
    from {
        scale: 0.99;
        opacity: 0;
    }

    to {
        scale: 1;
        opacity: 1;
    }
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close-button button {
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    width: 2.8rem;
    height: 2.8rem;
    color: #443c68;
    background-color: #f1dbbf;
    border: transparent;
    border-radius: 50%;
    transition: color 100ms;
}

.close-button button:hover {
    color: #f1dbbf;
    background-color: #443c68;
    border: 1px solid #f1dbbf;
}

.tools {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    flex: 2;
    height: 100%;
    min-width: 30rem;
    background-color: #faecd6;
    border-radius: 0.8rem;
    justify-content: space-evenly;
}

.tools-title {
    text-align: center;
    text-decoration: underline;
}

.tools .tool {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 2rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.tools .tool .number-input {
    border-radius: 5px;
    width: 6rem;
    padding: 0 0.4rem;
    font-size: 1.4rem;
}

.tools .tool .number-input:focus {
    outline: none;
}

.tools .tool .number-input::-webkit-inner-spin-button,
.tools .tool .number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.tools .checkbox-div {
    display: flex;
}

.tools .checkbox-div div:nth-child(1) {
    flex: 6;
}

.tools .checkbox-div div:nth-child(2) {
    flex: 1;
}

.image-process {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-result-container {
    max-width: 40rem;
    max-height: 40rem;
    display: flex;
    justify-content: center;
}

.image-result {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.palettes {
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 8rem;
    overflow-x: hidden;
    border: 2px solid black;
    padding: 0.3rem;
    border-radius: 0.4rem;
}

.palettes .palette {
    display: flex;
    /* border-bottom: 1px solid black; */
    padding: 2px;
    margin-bottom: 0.5rem;
}

.palettes .palette:hover {
    opacity: 0.8;
}

.palettes .palette:last-child {
    margin: 0;
}

.palettes .palette .color {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 3px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 0.1rem;
}

.selected {
    background-color: #443c68;
}

.select-input {
    border-radius: 5px;
    width: 6rem;
    padding: 0 0.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 2px solid black;
}

#download-section {
    padding: 0;
    margin: 0 auto 0.5rem auto;
    justify-content: center;
    width: 40%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #443c68;
}

#download-section a {
    text-align: center;
    padding: 0.6rem 0.8rem;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #faecd6;
}

#download-section:hover a {
    background-color: #faecd6;
    color: #443c68;
    transition: 0.1s;
}

#open-modal {
    cursor: pointer;
}

.upload-image {
    background-color: #faecd6;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload-animation {
    color: black;
    font-size: 2rem;
    font-weight: bold;
}
